<!--==================== FOOTER ====================-->
<footer class="footer section">
  <div class="footer__container container grid">
    <div class="footer__content">
      <a href="#" class="footer__logo">
        <i class="ri-hand-heart-line nav__logo-icon"></i>AIVLE 30
      </a>

      <h3 class="footer__title">
        AIVLE 30에 가입하고, <br />
        매일 새로운 소식을 알람받으세요
      </h3>

      <div class="footer__subscribe">
        <input
          type="email"
          placeholder="이메일을 입력해 주세요."
          class="footer__input"
        />

        <button class="button button--flex footer__button" style="width: 85px;">
          Login
          <i class="ri-arrow-right-up-line button__icon"></i>
        </button>
      </div>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Our Address</h3>

      <ul class="footer__data">
        <li class="footer__information">
          대구광역시 수성구 달구벌대로 3176, KT 고산빌딩 3층
        </li>
        <li class="footer__information">
          입금계좌: KT은행 353901-01-010101 케이티(AIVLE 30)
        </li>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">Contact Us</h3>

      <ul class="footer__data">
        <li class="footer__information">
          고객센터 운영시간: 평일 오전9시 ~ 오후6시
        </li>
        <li class="footer__information">전화: 053-123-0101</li>
        <li class="footer__information">팩스: 031-011-01111</li>
        <div class="footer__social">
          <a href="https://www.facebook.com/" class="footer__social-link">
            <i class="ri-facebook-fill"></i>
          </a>
          <a href="https://www.instagram.com/" class="footer__social-link">
            <i class="ri-instagram-line"></i>
          </a>
          <a href="https://twitter.com/" class="footer__social-link">
            <i class="ri-twitter-fill"></i>
          </a>
        </div>
      </ul>
    </div>

    <div class="footer__content">
      <h3 class="footer__title">협력업체</h3>
      {% load static %}
      <div class="footer__cards">
        <img
          src="{% static 'images/card1.png' %}"
          alt="kt"
          class="footer__card"
        />
        <img
          src="{% static 'images/card2.png' %}"
          alt="aivle"
          class="footer__card"
        />
        <img
          src="{% static 'images/card3.png' %}"
          alt="openAI"
          class="footer__card"
        />
        <img
          src="{% static 'images/card4.png' %}"
          alt="django"
          class="footer__card"
        />
      </div>
    </div>
  </div>

  <p class="footer__copy">
    Copyright 2023 KT Aivle school Team 30's. &#169; All Right Reserved
  </p>
</footer>

<!--=============== SCROLL UP ===============-->
<a href="#" class="scrollup" id="scroll-up">
  <i class="ri-arrow-up-fill scrollup__icon"></i>
</a>
