
div.qpos{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding: 30px;
}
div.imagepos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
img{

    padding: 30px;
    background: white;
    display: table-cell;
}

div.btnpos{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#choice1, #choice2, #choice3, #choice4{
    padding: 10px;
    margin: 20px;

    width: 150px;
    height: 50px;

    border-width: 3px;
    border-color: var(--first-color);
    background-color: white;
    
    border-style: solid;
    border-radius: 10px
}
#choice1:hover, #choice2:hover, #choice3:hover, #choice4:hover{
    background-color: var(--first-color);
    color:var(--body-color);
}