{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Aivle 30조</title>
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'info/potato.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <h1 class="title1">수어에 대해서</h1>
  <div class="potato">
    <div>
      <img class="inform-image" id="potato-image" src="http://127.0.0.1:8000/static/info/images/img_1.png", alt="potato">
      <p class="inform-description">저는 말도 못하고 코딩도 못하는 감자에요</p>
    </div>
    <div class="inform-desc1">
      <h2>한국수어의 의미</h2>
      <p>청각장애인들은 소리로 말을 배울 수 없어서 ‘보이는 언어’를 사용한다. 이 ‘보이는 언어’가 바로 ‘수어 (手語, Sign language)’다.</p>
      <p>이처럼 수어를 일상어로 사용하는 사람을 ‘농인’이라고 한다. ‘한국수화언어법’에 따르면 ‘한국수어’는 ‘한국수화언어’를 줄인 말로, 한국어나 영어와 같은 독립된 언어라는 의미를 담고 있다.</p>
      <p>한국수어는 한국어와는 문법 체계가 다른, 대한민국 농인의 고유한 언어이다.</p>
    </div>
  </div>

  <div class="potato2">
    <div>
      <img class="inform-image" id="potato-image" src="http://127.0.0.1:8000/static/info/images/img_1.png", alt="potato">
      <p class="inform-description">저는 말도 못하고 코딩도 못하는 감자에요</p>
    </div>
    <div class="inform-desc1">
      <h2>수어가 꼭 필요한가?</h2>
      <p>뉴스 등을 보면, 종종 화면 하단 조그만 원에 등장하는 수어통역사를 볼 수 있다. 음성으로 뉴스가 흘러나오면, 수어통역사가 이를 수어로 전달해준다. 이를 두고 "잘 보이지도 않는 수어통역 대신, 자막이 더 효율적이지 않은가"라고 생각하는 사람도 있을 수 있겠다.

        한국방송통신전파진흥원도 이런 맥락에서 자막수신기 보급 사업을 벌였고, 최근 나온 신형 텔레비전에선 자막 버튼만 누르면 지상파 프로그램의 경우 자막을 볼 수 있다. 그렇다면, 수어는 이제 필요 없게 된 걸까. 이 역시 지극히 청인의 입장, 수어를 음성 언어의 대체 수단으로 본 탓에 생긴 오해다.
        
        국어와 수어는 관용적 표현은 물론 문법도 차이가 나는 서로 다른 체계의 언어다. 수어 고유의 언어체계로 세상과 소통하는 농인들이 청인의 언어 체계로 된 국어자막을 즉시 이해하는 건 어렵다는 말이다. 안석준 수어통역사는 "한국에서 영어를 10년간 공부한 학생들이 뉴욕타임즈, CNN를 즉각적으로 읽고 듣고 완전히 이해할 수 있는가"라고 되물었다. 농인에게 한글 자막을 보여주는 건, 한국인에게 영어 자막 또는 중국어 자막을 보여주는 것과 마찬가지다.
        
        농인에게 정작 필요한 건 수어 통역이지만, 현실은 그렇지 않다. 단적으로 지상파 방송의 경우 모든 프로그램에서 자막 방송을 볼 수 있게 됐지만, 수어방송 비율은 지난 2012년 5.5%에서 지난해 6%로 소폭 상승에 그쳤다.</p>
    </div>
  </div>

  <div class="potato">
    <div>
      <img class="inform-image" id="potato-image" src="http://127.0.0.1:8000/static/info/images/img_1.png", alt="potato">
      <p class="inform-description">저는 말도 못하고 코딩도 못하는 감자에요</p>
    </div>
    <div class="inform-desc1">
      <h2>수어는 한글과 다른 언어!</h2>
      <p>국어와 마찬가지로 수어에도 단어가 있다. 그렇다면 한국어 문장에서 단어만 수어 단어로 바꾸면 수어 문장이 될 수 있을까. 대부분 청인들은 이렇게 생각하는데, 이 역시 수어에 대한 이해 부족 때문이다. 수어와 국어가 다른 언어체계로, 수어 고유의 문법이 존재하는 걸 간과하기 때문에 빚어지는 오해다.

        이런 오해로 웃지 못 할 일들이 벌어지기도 했다. 방송 하단의 수어 통역을 하는데, 정작 농인들은 이해를 못하는 경우가 있었던 것이다. 전문가가 부재하던 시절, 수어통역사가 한국어 문장이 나오면, 이를 그대로 수어 단어로만 바꾸는데 그쳤고, 정작 농인들은 통역을 보고도 무슨 말인지 이해를 못했던 것이다.
        
        안석준 수어통역사는 "수어와 국어가 다른 언어라는 걸 이해 못한 결과"라고 꼬집었다. 수어와 국어의 어순은 물론, 표현법도 다른데 이를 무시했다는 것이다. 안석준 통역사는 "예를 들어 '전직 국정원장 A 씨가 검찰에 소환됐다'라는 문장이 있으면, 수어에선 '검찰이 A 씨를 불렀다. A 씨는 전직 국정원장이다'라는 순으로 전달해야 농인들도 이해할 수 있다"고 설명했다.
        
        교육 현장에서도 수어에 대한 몰이해가 극단적으로 나타나기도 했다. 1991년 교육부는 수화교과서를 제작했고, 국어의 특성을 반영해 조사, 어미, 존대를 나타내는 선어미말까지 만들었다. 하지만, 어순이 다르고, 조사와 어미가 없는 수어의 특성을 전혀 반영하지 않았다. 농인 교과서를 청인 입장만을 반영해 만든 것으로, 결국 아무도 사용하지 않은 채 폐기됐다. 오랜 기간 수어를 연구한 이영재 다솜학교 교사는 "해당 교과서는 수어를 고유한 규칙을 가진 언어가 아니라 국어의 보조 수단으로 여긴 것이 문제였다"고 말했다.
      </p>
    </div>
  </div>

  <!-- 사진 고르기 구현 -->
    <div class="picture-container">
        <div id="image_desc">
            <img class="image-class" id="info-image" src="" alt="Image">
            <select class="image-select-class" id="image_select">
              {% for item in image_desc_list %}
                  <option value="{{ item.image }}">{{ item.name }}</option>
              {% endfor %}
          </select>
          </div>
        <div class="description">
          <p id="desc"></p>
      </div>
    </div>

    <script>
        var image_desc_map = {
            {% for item in image_desc_list %}
                "{{ item.image }}": "{{ item.desc }}",
            {% endfor %}
        };

        $("#image_select").change(function() {
            var selected_image = $(this).val();
            var selected_desc = image_desc_map[selected_image];
            $("#info-image").attr("src", "{% static '' %}" + selected_image);
            $("#desc").text(selected_desc);
        }).change();
    </script>
</body>
</html>
