{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Aivle 30조</title>
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'info/potato.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
  <h1 class="title1">수어에 대해서</h1>
  <div class="potato">
    <div>
      <img class="inform-image" id="potato-image" src="http://127.0.0.1:8000/static/info/images/potato.png", alt="potato">
      <p class="inform-description">저는 말도 못하고 코딩도 못하는 감자에요</p>
    </div>
    <div class="inform-desc1">
      <h2>한국수어의 의미</h2>
      <p>청각장애인들은 소리로 말을 배울 수 없어서 ‘보이는 언어’를 사용한다. 이 ‘보이는 언어’가 바로 ‘수어 (手語, Sign language)’다.</p>
      <p>이처럼 수어를 일상어로 사용하는 사람을 ‘농인’이라고 한다. ‘한국수화언어법’에 따르면 ‘한국수어’는 ‘한국수화언어’를 줄인 말로, 한국어나 영어와 같은 독립된 언어라는 의미를 담고 있다.</p>
      <p>한국수어는 한국어와는 문법 체계가 다른, 대한민국 농인의 고유한 언어이다.</p>
    </div>
  </div>

  <div class="potato2">
    <div>
      <img class="inform-image" id="potato-image" src="http://127.0.0.1:8000/static/info/images/potato.png", alt="potato">
      <p class="inform-description">저는 말도 못하고 코딩도 못하는 감자에요</p>
    </div>
    <div class="inform-desc1">
      <h2>수어</h2>
      <p>수어는 단순히 손짓 뿐만 아니라 표정 등에 의해서도 뜻이 변화할 수 있다.</p>
    </div>
  </div>

  <!-- 사진 고르기 구현 -->
    <div class="picture-container">
        <div id="image_desc">
            <img class="image-class" id="info-image" src="" alt="Image">
            <select class="image-select-class" id="image_select">
              {% for item in image_desc_list %}
                  <option value="{{ item.image }}">{{ item.name }}</option>
              {% endfor %}
          </select>
          </div>
        <div class="description">
          <p id="desc"></p>
      </div>
    </div>

    <script>
        var image_desc_map = {
            {% for item in image_desc_list %}
                "{{ item.image }}": "{{ item.desc }}",
            {% endfor %}
        };

        $("#image_select").change(function() {
            var selected_image = $(this).val();
            var selected_desc = image_desc_map[selected_image];
            $("#info-image").attr("src", "{% static '' %}" + selected_image);
            $("#desc").text(selected_desc);
        }).change();
    </script>
</body>
</html>
