{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tab Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Tab Page</h2>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu1">Menu 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="home" class="container tab-pane active">
                <h3>GPT에게 물어보기</h3>
                {% include 'gpt/index.html' %}
            </div>
            <div id="menu1" class="container tab-pane fade">
                <h3>Menu 1</h3>
                {% include 'languagechat/index.html' %}
            </div>
            <div id="menu2" class="container tab-pane fade">
                <h3>Menu 2</h3>
                <p>This is the content for Menu 2.</p>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
